version: '3.8'

services:
  db:
    image: postgres:16
    container_name: postgres-db
    restart: unless-stopped
    stop_grace_period: 1s
    stop_signal: SIGINT
    tmpfs:
      - /run/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ems-docker
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5430:5432"
    networks:
      - mynetwork
  redis:
    image: redis:7-alpine
    container_name: redis-cache
    restart: unless-stopped
    stop_grace_period: 1s
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - mynetwork
    command: redis-server
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ems-mybatis-liquibase:latest
    container_name: ems-mybatis-liquibase
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/ems-docker
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    depends_on:
      - db
      - redis
    ports:
      - "8082:8082"
    networks:
      - mynetwork

volumes:
  postgres_data:
  redis_data:

networks:
  mynetwork:
    driver: bridge